*
    margin: 0
    padding: 0
    -webkit-box-sizing: border-box
    box-sizing: border-box

html
    background-color: $black

body
    font-size: $body-size
    font-family: $font
    color: $body-text

.wrapper
    height: 100vh
    padding: 1rem
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

.strong
    font-weight: 700
    font-family: $font

.top-pad
    padding-top: 1rem

.bottom-pad
    padding-bottom: 1rem

.no-padding
    padding: 0

#floor
    height: $floor_width / 10
    margin: 0 auto
    width: $floor_width
    z-index: 100
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: flex-end

#orb1
    +orb($green, $floor_width / 8)
    &:hover, &.notice
        transform: translateY(-20px)
        box-shadow: 0px 0px 40px $green
        &:after
            transform: translateY(20px)
            width: ($floor_width / 8) / 1.75

#orb2
    +orb($red, $floor_width / 11)
    transform: translateY(-100px)
    &:hover, &.notice
        transform: translateY(-120px)
        box-shadow: 0px 0px 30px $red
        &:after
            bottom: -150px
            width: ($floor_width / 11) / 1.75

#orb3
    +orb($yellow, $floor_width / 10)
    transform: translateY(-60px)
    &:hover, &.notice
        transform: translateY(-80px)
        box-shadow: 0px 0px 30px $yellow
        &:after
            bottom: -160px
            width: ($floor_width / 10) / 1.75

#orb4
    +orb($blue, $floor_width / 8)
    &:hover, &.notice
        transform: translateY(-20px)
        box-shadow: 0px 0px 40px $blue
        &:after
            transform: translateY(20px)
            width: ($floor_width / 8) / 1.75

.messages
    height: 20vh
    width: 100%
    padding: 2rem
    box-shadow: -8px -8px 0px darken($green, 5%), 8px 8px 0px darken($green, 5%), -8px 8px 0px darken($green, 5%), 8px -8px 0px darken($green, 5%), -12px -12px 0px darken($blue, 5%), 12px 12px 0px darken($blue, 5%), -12px 12px 0px darken($blue, 5%), 12px -12px 0px darken($blue, 5%)
    border-radius: 10px
    background-image: linear-gradient(to bottom, $blue 0%, darken($blue, 35%) 100%)